/* By Paul D. Hunt, https://github.com/adobe-fonts/source-code-pro  */
@font-face {
    font-family: "Source Code Pro";
    src: url("../assets/fonts/SourceCodePro-Medium.otf.woff");
}

/* By Paul D. Hunt, https://github.com/adobe-fonts/source-code-pro  */
@font-face {
    font-family: "Source Code Pro Bold";
    src: url("../assets/fonts/SourceCodePro-Bold.otf.woff");
}

:root {
    --true: rgb(0, 153, 255);
    --false: rgb(255, 133, 133);
    --box-bg: rgb(30, 30, 30);
    --tab-bg: rgb(35, 35, 35);
    --inspector-component-bg: rgb(15, 15, 15);
    --hierarchy-scene-name: rgb(0, 153, 255);
    --menu-item-bg: rgb(5, 5, 5);
    --border: black;
    --inspector-entity-name: rgb(184, 255, 172);
    --inspector-entity-selected: rgba(36, 255, 0, 1);
    --entity-name: rgb(184, 255, 172);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro Bold", "Comic Sans MS";
}

/* LINKS */
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--true);
}

select {
    background: transparent;
    font-size: 20px;
    font-family: "Source Code Pro";
    margin-right: 50px;
    outline: none;
    border: none;
}

option {
    background: var(--box-bg);
    font-weight: bold;
}

.ui {
    position: absolute;
}

.on {
    background-color: var(--true);
}

.off {
    background-color: var(--false);
}

.list {
    list-style: none;
    padding: 10px;
}

.scroll {
    overflow: auto;
}

.hide {
    opacity: 0;
    pointer-events: none;
}
