:root {
    --true: rgb(0, 153, 255);
    --false: rgb(255, 133, 133);
    --box-bg: rgba(30, 30, 30);
    --border: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.ui {
    position: absolute;
}

.on {
    background-color: var(--true);
}

.off {
    background-color: var(--false);
}

.list {
    list-style: none;
    padding: 10px;
}

.hide {
    opacity: 0;
}
