* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.ui {
    position: absolute;
}

#ui-debug {
    background-color: rgba(0, 0, 0, 0.573);
    top: 10px;
    right: 10px;
    width: 20%;
    padding: 15px 15px 5px 15px;
    color: whitesmoke;
    border-radius: 5px;
}

#toggle-debug-mode {
    top: 10px;
    right: 10px;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    color: white;
}

.on {
    background-color: rgb(0, 153, 255);
}

.off {
    background-color: rgb(255, 133, 133);
}

.debug-section {
    padding: 15px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.354);
}

.list {
    list-style: none;
    padding: 10px;
}

.hide {
    opacity: 0;
}
