/* HIERARCHY */
#hierarchy {
    grid-area: hierarchy;
}
#hierarchy-scene-name {
    color: var(--hierarchy-scene-name);
}

.entity {
    margin: 15px 0px 15px 80px;
    color: var(--entity-name);
    font-size: 18px;
    cursor: pointer;
}

.inspector-entity-selected {
    color: var(--inspector-entity-selected);
}